<div class="panel panel-default" data-ng-init="getRoomList()">
  <div class="panel-heading">Lista de Salas cadastradas</div>
  <div class="panel-body">
  	<table class="table table-striped table-hover" >
	  <thead>
	    <tr class="warning">
    	  <th class="text-center">Ativa?</th>
	      <th>Nome</th>
	      <th>Localidade</th>
	      <th class="text-center"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="active" data-ng-repeat="item in vm.roomList">
	    	<td class="text-center">{{item.active}}</td>
	    	<td>{{item.name}}</td>
	    	<td>{{item.location}}</td>
	    	<td class="text-center">
				<button type="button" class="btn btn-xs btn-info" ng-click="openRoomDetail(item.name, item.location)">editar</button>
	    	</td>
	    </tr>
	  </tbody>
  	</table>
  </div>
  <div class="panel panel-footer">
         <button type="button" class="btn btn-default" ng-click="backToMain()">Voltar</button>
      </div>
</div>
