<div class="panel panel-success" data-ng-init="getMemberByEmail(vm.state.params.email)">
  <div class="panel-heading">{{vm.memberDetail.name}}</div>
  <div class="panel-body">
  	<p>Dados informativos sobre o participante:</p>
  		<form ng-hide="vm.isEdt" role="form" class="form-horizontal">
  			<div class="panel panel-default">
  			<div class="panel-body">
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Email</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.email}}" disabled>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Telefone</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.phone}}" disabled>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
                  <div class="form-group">
                     <label for="inputEnd" class="col-lg-3 control-label">CEP *</label>
                     <div class="col-lg-3">
                        <input type="text" class="form-control" id="inputCEP" placeholder="04664020" required maxlength="8" ng-pattern="/^[0-9]+$/" value="{{vm.memberDetail.zipCode}}" disabled>
                     </div>
                     <label for="inputEnd" class="col-lg-3 control-label">Numero Endereço</label>
                     <div class="col-lg-2">
                        <input type="text" class="form-control" id="inputComp" placeholder="512"value="{{vm.memberDetail.numberAddress}}" ng-pattern="/^[0-9]+$/" disabled>
                     </div>
                  </div>
               </fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Ultima Modificação</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.updatedAt}}" disabled>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Cadastrado Em</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.createdAt}}" disabled>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Está ativo?</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.active}}" disabled>
		             </div>
		          </div>
				</fieldset>
			</div>
			</div>
  		</form>

  		<!-- Form para envio da edição! -->
  		<form ng-show="vm.isEdt" role="form" class="form-horizontal" name="updatemember">
  			<div class="panel panel-default">
  			<div class="panel-body">
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Email</label>
		             <div class="col-lg-8">
		                <input type="email" ng-model="vm.memberDetail.email" class="form-control" value="{{vm.memberDetail.email}}" required>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP"  class="col-lg-3 control-label">Telefone</label>
		             <div class="col-lg-8">
		                <input type="text" ng-model="vm.memberDetail.phone" class="form-control" id="focusedInput" value="{{vm.memberDetail.phone}}" maxlength="11" required>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputEnd" class="col-lg-3 control-label">CEP *</label>
                     <div class="col-lg-3">
		                <input type="text" ng-model="vm.memberDetail.zipCode" class="form-control" id="focusedInput" value="{{vm.memberDetail.zipCode}}" minlength="8" maxlength="8" ng-pattern="/^[0-9]*$/" required>
		             </div>
		             <label for="inputEnd" class="col-lg-3 control-label">Numero Endereço</label>
                     <div class="col-lg-2">
                        <input type="text" class="form-control" id="inputComp" placeholder="512" ng-model="vm.memberDetail.numberAddress" ng-pattern="/^[0-9]+$/" value="{{vm.memberDetail.numberAddress}}" required>
                     </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Ultima Modificação</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.updatedAt}}" disabled>
		             </div>
		          </div>
				</fieldset>
				<fieldset>
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Cadastrado Em</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.createdAt}}" disabled>
		             </div>
		          </div>
				</fieldset>

				<!-- Activate member Form Section. note on the ng-show -->
				<fieldset ng-show="vm.memberDetail.active" name="paraMemberAtivo">
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Está ativo?</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.active}}" disabled>
		             </div>
		          </div>
		          <div class="panel panel-footer">
					<p>para desativar o participante, favor selecionar o check para confirmar.</p>
					<ul class="nav nav-pills">
	  					<li class="active">
	  					<span class="badge">
	  						<input type="checkbox" ng-model="vm.killConfirm"> Confirmar
	  					</span>
	  					</li>
  					</ul>
					<p></p>
					<button ng-show="vm.isEdt" type="button" class="btn btn-danger" ng-click="vm.disableMember()" ng-disabled="!vm.killConfirm" >DESATIVAR</button>
				</div>
				</fieldset>

				<fieldset ng-show="!vm.memberDetail.active" name="paraMemberInativo">
		          <div class="form-group">
		             <label for="inputNomeP" class="col-lg-3 control-label">Está ativo?</label>
		             <div class="col-lg-8">
		                <input type="text" class="form-control" id="focusedInput" value="{{vm.memberDetail.active}}" disabled>
		             </div>
		          </div>
		          <div class="panel panel-footer">
					<p>para ativar o participante, favor selecionar o check para confirmar.</p>
					<ul class="nav nav-pills">
	  					<li class="active">
	  					<span class="badge">
	  						<input type="checkbox" ng-model="vm.killConfirm"> Confirmar
	  					</span>
	  					</li>
  					</ul>
					<p></p>
					<button ng-show="vm.isEdt" type="button" class="btn btn-success" ng-click="vm.enableMember()" ng-disabled="!vm.killConfirm" >ATIVAR</button>
				</div>
				</fieldset>
			</div>
			</div>
  		</form>
	</div>
	<div class="panel panel-footer">
		<button type="button" class="btn btn-default" ng-click="backToMain()">Voltar</button>
		<button ng-hide="vm.isEdt" type="button" class="btn btn-warning" ng-click="vm.editMember()">Editar</button>
		<button ng-show="vm.isEdt" ng-disabled="updatemember.$invalid" type="button" class="btn btn-success" ng-click="vm.updateMember()">Salvar</button>
	</div>
</div>
